* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container_form {
  width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 1px 0px 1.2px 0px #e3e3e3;
  border-radius: 3px;
  padding: 1em;
}

.form-dados {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
}

.dados-form .coluna {
  display: flex;
  column-gap: 15px;
}

.form-dados {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.dados-form .form-dados {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px;
  padding: 8px 18px;
  outline: none;
}

.input-dados {
  font-size: 16px;
  font-family: inherit;
  padding: 8px 10px;
  border-radius: 4px;
  border: 1px #f2f2f2 solid;
  background: #fdfdfd;
  outline: none;
  width: 100%;
  transition: all 0.3s;
}

/*.input-dados {
  background: #f5f5f5;
  border-radius: 20px;
  border: #e3e3e3;
  width: 90%;
  padding: 15px;
  font-size: 14px;
}

.input-dados2 {
  background: #f5f5f5;
  border-radius: 20px;
  border: #e3e3e3;
  width: 40%;
  padding: 15px;
  font-size: 14px;
}

.input-contato3 {
}

//PRODUTOS

.div-contato {
  column-count: 3;
}

// BOTÕES

button {
  margin-top: 30px;
}

.limpar {
  background: #f5f5f5;
  border-radius: 15px;
  border: #404040;
  width: 35%;
  padding: 15px;
  margin-right: 10px;
}

.confirmar {
  background: #404040;
  border-radius: 15px;
  border: #f5f5f5;
  width: 55%;
  padding: 15px;
  color: #f5f5f5;
  cursor: pointer;
  transition: 0.3s ease all;
}*/
